
<nav class="navbar navbar-light navbar-dark bg-dark">
    <a class="navbar-brand" href="#">User edit</a>
</nav>
<div class="container mt-5 p-lg-5 bg-light">

<% if @user.errors.any? %>
    <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this @user from being saved:</h2>
        <ul>
            <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
        </ul>
    </div>
<% end %>

<%= form_with(model: @user, local: true) do |f| %> 
    <div class="form-row mb-4">
        <div class="col-md-6">
            <br><%= f.label :名前 %>
            <br><%= f.text_field :name, class:"form-control" %>
        </div>
        <div class="col-md-6">
            <br><%= f.label :ニックネーム %>
            <br><%= f.text_field :nickname, class:"form-control" %>
        </div>
        <div class="col-md-6">
            <br><%= f.label :年齢 %>
            <br><%= f.text_field :age, class:"form-control" %>
        </div>
        <div class="col-md-6">
            <br><%= f.label :性別 %>
            <br><%= f.select :gender, User.genders.keys, {prompt: '選択してください'}, class: 'form-control' %>
        </div>
        <div class="col-md-6">
            <br><%= f.label :結婚 %>
            <br><%= f.select :maritalstatus, User.maritalstatuses.keys, {prompt: '選択してください'}, class: 'form-control' %>
        </div>
        <div class="col-md-6">
            <br><%= f.label :国 %>
            <br><%= f.country_select :country, priority_countries: ["JP", "US"], class: 'form-control' %>
        </div>
        <div class="col-md-6">
            <br><%= f.label :都道府県 %>
            <%= f.select :prefecture, User.prefectures.keys, {prompt: '選択してください'}, class: 'form-control' %>
        </div>
        <div class="col-md-6">
            <br><%= f.label :email %>
            <%= f.email_field :email, class:"form-control" %>
        </div> 
        <div class="col-md-6">
            <br><%= f.label :password %>
            <%= f.password_field :password, class:"form-control" %>
        </div> 
    </div>
    <br><%= f.submit "Edit my account", class: "btn btn-info mx-2"%>
    <%= link_to 'Back', user_path, class: "btn btn-info mx-2"%>
<% end %>

</div>