<h1>Sign up</h1>

<% if @user.errors.any? %>
    <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this @user from being saved:</h2>
            <ul>
            <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
            </ul>
        </div>
<% end %>

<%= form_with(model: @user, local: true) do |f| %>  
        <br><%= f.label :名前 %>
        <%= f.text_field :name %>

        <br><%= f.label :ニックネーム %>
        <%= f.text_field :nickname %>
        
        <br><%= f.label :年齢 %>
        <%= f.text_field :age %>

        <br><%= f.label :性別 %>
        <%= f.select :gender, User.genders.keys, {prompt: '選択してください'}, class: 'form-control btn btn-info' %>
        <br><%= f.label :結婚 %>
        <%= f.select :maritalstatus, User.maritalstatuses.keys, {prompt: '選択してください'}, class: 'form-control btn btn-info' %>
        <br><%= f.label :国 %>
        <%= f.country_select :country, priority_countries: ["JP", "US"] %>
        <br><%= f.label :都道府県 %>
        <%= f.select :prefecture, User.prefectures.keys, {prompt: '選択してください'}, class: 'form-control btn btn-info' %>
        <br><%= f.label :email %>
        <%= f.email_field :email %>

        <br><%= f.label :password %>
        <%= f.password_field :password %>

        <br><%= f.label :password_Confirmation %>
        <%= f.password_field :password_confirmation %>

        <%= f.submit "Create my account" %>
<% end %>