<h1><%= @user.name %>のページ</h1>

<p>メールアドレス: <%= @user.email %></p>

    <br><%= @user.name %>
    <br><%= @user.nickname %>
    <br><%= @user.age %>
    <br><%= @user.gender %>
    <br><%= @user.maritalstatus %>
    <br><%= @user.country %>
    <br><%= @user.prefecture %>
    <br><%= @user.email %>

<% if logged_in? %>
    <% if current_user.id == @user.id %>
        <p><%= link_to 'Edit', edit_user_path(@user) %></p>
    <% end %>
<% end %> 

<p><%= link_to 'story', story_path %></p>