<%= form_with(model: @story, local: true, url: confirm_stories_path ) do |form| %>
   <% if story.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(story.errors.count, "error") %> prohibited this story from being saved:</h2>

      <ul>
      <% story.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="field" %>
    <%= form.label :image %> 
    <!-- ↓確認画面から新規作成画面に戻った時に、アップロードした画像を表示させるための記述 -->
    <%= image_tag(@story.image.url) if @story.image && @story.image.url%>
    <%= form.file_field :image %> 
    <!-- ↓一時的なデータとしてファイル構造を含むデータをキャッシュする -->
    <%= form.hidden_field :image_cache%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
